@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Profile" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <a href="/Account/LogOut" class="nav-link text-dark">Çıkış Yap</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="login">Login</a>
    </li>
}
</ul>
