@model SecretaryViewModel
@{
    ViewData["Title"] = "Secretary";
}

@section Styles{
    <link href='~/lib/packages/core/main.css' rel='stylesheet' />
    <link href='~/lib/packages/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/packages/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/packages/list/main.css" rel="stylesheet" />
    <link href="~/lib/packages/bootstrap/main.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}

<h1>Secretary</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Diş Hastanesi</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.GetFullName()</h6>
                <p>Diş hastanesi randevu sistemine hoş geldiniz.</p>
                <a href="#" class="card-link">Çıkış Yap</a>
            </div>
        </div>
        <br />
        <div>
            <ul class="list-group">
                @foreach (var item in Model.Dentists)
                {
                    <li class="list-group-item">
                        @item.GetFullName()
                        <button class="btn btn-sm mt-2 pull-right" style="background-color:@item.Color.ToLower()"></button>
                    </li>
                }


            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>

    <script src="~/lib/packages/core/main.js"></script>
    <script src="~/lib/packages/moment/main.js"></script>
    <script src="~/lib/packages/moment-timezone/main.js"></script>
    <script src="~/lib/packages/daygrid/main.js"></script>
    <script src="~/lib/packages/timegrid/main.js"></script>
    <script src="~/lib/packages/list/main.js"></script>
    <script src="~/lib/packages/interaction/main.js"></script>
    <script src="~/lib/packages/core/locales/tr.js"></script>
    <script src="~/lib/packages/bootstrap/main.js"></script>
    <script>
        var ist = moment().tz("Europe/Istanbul").format();
        console.log(ist);
    </script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'momentTimezone'],
                timeZone: 'Europe/Istanbul',
                themeSystem: 'bootstrap',
                locale: "tr",
                bootstrapFontAwesome: {
                    dayGridMonth: 'calendar',
                    listWeek: 'fa-list'
                },
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek timeGridForFourDay listWeek"
                },
                footer: {
                    left: 'prevYear',
                    right: 'nextYear'
                },
                //contentHeight: 650,
                minTime: '08:00:00',
                maxTime: '21:00:00',
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit'
                },
                fixedWeekCount: false,
                showNonCurrentDates: false,
                defaultView: 'timeGridWeek',//default ay görünümü gözükmesini sağlar
                weekends: true, //haftasonlarını düzenler
                hiddenDays: [0],//Gün bazında gizler
                allDaySlot: false,
                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                },
                titleRangeSeparator: ' / ',
                columnHeaderFormat: {
                    weekday: 'long'
                },
                views: {
                    timeGridForFourDay: {
                        type: 'timeGrid',
                        dayCount: 4,
                        buttonText: '4 gün'
                    }
                },

                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit'
                },
                timeZone: 'UTC',
                events: [],
                selectable: true,
                select: function (selectionInfo) {
                    console.log(selectionInfo);
                },
                editable: true,
                dragRevertDuration: 1500,
                snapDuration: '00:15:00',
                eventOverlap: function (stillEvent, movingEvent) {
                    //süzgeç
                    return stillEvent.allDay && movingEvent.allDay
                }

            });

            calendar.render();
        });

    </script>
}
